auto-save-list/
bookmarks
.cache/
.dap-breakpoints
eclipse.jdt.ls/
eln-cache/
elpa/
tldr/
transient/
url/
sessions
history
.lsp-session-v1
places
projects
recentf
request/
sessions
tramp
transient/
tree-sitter/
workspace/